body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

header {
    margin-bottom: 20px;
}

header a {
    padding: 10px;
}

.todo-container {
    margin-top: 20px;
}

#new-task {
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#new-task::placeholder {
    color: #bbb;
}

#task-list {
    margin-top: 20px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border: 1px solid #444;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-item.completed {
    text-decoration: line-through;
    color: #aaa;
}

.list-group-item {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.list-group-item.active {
    background-color: #555;
}

.modal-content {
    background-color: #333;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-close {
    background: none;
    border: none;
    color: #fff;
}

#calendar {
    background-color: #222;
    color: #fff;
}
